
projet-middle/.idea/libraries/Maven__org_springframework_spring_tx_4_0_3_RELEASE.xml

projet-middle/target/test-classes/application.properties

projet-middle/target/classes/import.sql

projet-middle/.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml

projet-middle/.idea/libraries/Maven__org_yaml_snakeyaml_1_13.xml
